<div class="page-header">
  <h1>Search for Bands</h1>
</div>

<form action="results" method="get" class="form-search" >
  <input type="text" name="query" placeholder="<%= @query %>" class="search-query">
  <button type="submit" class="btn">Search</button>
</form>

<h2>Results:</h2>

<ul>
  <% for artist in @artists %>
  <% unless artist.css("name").first.nil? %>
  
  <div class="media">
    <div class="pull-left">
    
    </div>
    <div class="media-body">
      <h3><%= artist.css("name").first.content %></h3>
      <p><%= "- " + artist.css("disambiguation").first.content unless artist.css("disambiguation").first.nil? %></p>
      
      <%= form_tag("/bump/new", :method => 'post') do %>
        <%= text_field_tag(:invested_cred) %>
        <%= hidden_field_tag(:mbid, artist.attribute("id")) %>
        <%= submit_tag "Bump", :class => "btn btn-success pull-right" %>
      <% end %>
      
    </div>
  </div>

  <% end %>
  <% end %>
</ul>
