<div class="page-header">
  <h1>
    <%= @other_user.username %>
    <% unless @is_friend %>
      <%= link_to 'Add Friend', user_add_friend_path(:id => @other_user.id), :class => "inline btn btn-primary" %>
    <% end %>
  </h1>
</div>

<p>member for <%= time_ago_in_words(@other_user.created_at) %></p>

<h2>Bumps</h2>

<ul class="thumbnails">
<% for band in @other_user.bands %>
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag band.image.url(:thumb) %>
      <h3><%= link_to band.name, band_path(band) %></h3>
      <%= render :partial => "bumps/manage_bump", :locals => {:user => @user, :band => band, :bump => @user.bumps.where(:band_id => band.id, :unbumped_at => nil).first} %>
    </div>
  </li>
<% end %>
</ul>
