<div class="page-header">
  <h1>Bands You're Bumping</h1>
  <p><%= number_to_currency(@user.invested_cred, :unit => '') %> Invested Cred</p>
</div>

<ul class="thumbnails">
<% for bump in @bumps %>
  <li class="span4">
    <div class="thumbnail">
      <%= image_tag bump.band.image.url(:thumb) %>
      <h3><%= link_to bump.band.name, band_path(bump.band) %></h3>
      <p>
        <%= number_to_currency(bump.cred_value, :unit => '') %> Cred
        <%= link_to 'Unbump', bump_path(bump), :confirm => "Are you sure?", :action => :delete, :class => "btn btn-small btn-danger" %>
      </p>
    </div>
  </li>
<% end %>
</ul>
