<!DOCTYPE html>
<html>
<head>
  <title>HipsterMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>HipstαrMα</h1>

  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>  

<%= yield %>

</body>
</html>
