<!DOCTYPE html>
<html lang="en">
<head>
  <title>HipsterMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to 'HipsterMe', root_url, :class => "brand" %>
      
      <ul class="nav">
        <%# have to use :controller => /foo since it is not
          # a restful route and tries to render it in the
          # devise namespace %>
        <li><%= link_to 'Browse', bands_path %></li>
        <li><%= link_to 'Search', :controller => '/search', :action => 'index' %></li>
        <li><%= link_to 'Bands You Bump', bumps_path %></li>
      </ul>
      <ul class="nav pull-right">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>
  </div>



  
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
